$space-zero: 0rem;
$space-xxs: 0.1rem;
$space-xs: 0.2rem;
$space-s: 0.4rem;
$space-m: 0.8rem;
$space-l: 1.6rem;
$space-xl: 3.2rem;
$space-xxl: 6.4rem;
$space-xxxl: 12.8rem;

$spaces: (
  zero: $space-zero,
  xxs: $space-xxs,
  xs: $space-xs,
  s: $space-s,
  m: $space-m,
  l: $space-l,
  xl: $space-xl,
  xxl: $space-xxl,
  xxxl: $space-xxxl
);
